# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
pubspec.lock
android/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
.gitignore
android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
android/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
android/app/build/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
android/app/build/intermediates/flutter/debug/flutter_build.d
android/app/build/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
android/app/build/intermediates/flutter/debug/flutter_assets/NOTICES.Z
android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
android/app/build/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
android/app/build/intermediates/merged_assets/debug/out/flutter_assets/NOTICES.Z
android/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
android/app/build/intermediates/res/merged/debug/values-v21_values-v21.arsc.flat
android/app/build/intermediates/res/merged/debug/values-v24_values-v24.arsc.flat
android/app/build/intermediates/runtime_symbol_list/debug/R.txt
android/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
android/app/build/outputs/apk/debug/app-debug.apk
android/app/build/outputs/logs/manifest-merger-debug-report.txt
android/app/src/main/AndroidManifest.xml
ios/Runner/Info.plist
